* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular', sans-serif;
}

body {
    background-color: #020202;
    color: white;
    font-size: 16px;
    min-height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2개의 열로 나눔 */
    grid-template-rows: repeat(8, auto); /* 행의 높이를 자동으로 설정 */
    gap: 100px;
    width: 80vw;
    max-width: 1200px; /* 최대 너비를 설정 */
    height: auto;
    padding: 7%;
    align-items: center;
    box-sizing: border-box;
}

/* 각 섹션에 대한 그리드 영역 정의 */
.section1 {
    grid-area: 1 / 1 / 3 / 2; /* 첫 번째부터 세 번째 행, 첫 번째 열 */
    padding: 20px;
}

.section2 {
    grid-area: 2 / 2 / 1 / 3; /* 두 번째 행, 두 번째 열 */
    padding: 20px;
}

.section3 {
    grid-area: 4 / 2 / 5 / 3; /* 세 번째부터 다섯 번째 행, 두 번째 열 */
    padding: 20px;
}

.section4 {
    grid-area: 4 / 1 / 5 / 2; /* 네 번째부터 다섯 번째 행, 첫 번째 열 */
    padding: 20px;
}

.section5 {
    grid-area: 7 / 1 / 8 / 2; /* 여섯 번째부터 여덟 번째 행, 첫 번째 열 */
    padding: 20px;
}

.section6 {
    grid-area: 8 / 2 / 7 / 3; /* 여섯 번째부터 일곱 번째 행, 두 번째 열 */
    padding: 20px;
}

.section7 {
    grid-area: 9 / 2 / 10 / 2; /* 열 번째부터 열두 번째 행, 두 번째 열 */
    padding: 20px;
}

.section8 {
    grid-area: 9 / 1 / 10 / 3; /* 열 번째부터 열두 번째 행, 첫 번째 열 */
    padding: 20px;
}

.solution h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.solution p {
    font-size: 1.2em;
    line-height: 1.6;
}

/* 비전 섹션 추가 */
.vision {
    grid-area: 9 / 1 / 16 / 3; /* 섹션 8 다음에 나오는 비전 섹션 */
    text-align: center;
    padding: 20px;
    margin: 40vh 0; /* 상하 마진 */
    position: relative; /* 비디오와 텍스트를 겹치게 하기 위해 추가 */
    z-index: 3; /* 비디오 위에 텍스트를 표시 */
}

.vision h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.text-overlay {
    position: relative;
    z-index: 2; /* 비디오 위에 표시 */
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

.text-overlay h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
}

.text-overlay p {
    font-size: 1.5em;
    line-height: 1.2;
    margin-bottom: 20px;
}

/* 비디오를 Our Vision 섹션에 고정 */
.background-video {
    position: fixed; /* 비디오를 고정 위치 */
    bottom: 0; /* 하단에 고정 */
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fit; /* 화면에 맞게 조정 */
    z-index: -1; /* 비디오를 텍스트 뒤에 배치 */
    opacity: 0.3; /* 비디오의 투명도 조정 */
}

/* 공통 플로팅 버튼 스타일 */
.floating-button {
    position: fixed;
    color: white;
    display: flex;
    justify-content: center;
    align-items: top;
    font-size: 1.5rem;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.5s ease-in-out;
    animation: bounce 2s infinite;
}

.floating-button-up {
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

/* 반응형 디자인: 작은 화면에서 요소 크기 조정 */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr; /* 작은 화면에서는 한 열로 설정 */
        gap: 50px;
        width: 95vw;
    }

    .solution h2 {
        font-size: 1.5rem;
    }

    .solution p {
        font-size: 1em;
        line-height: 1.4;
    }

    .vision h1 {
        font-size: 2.5em;
    }

    .text-overlay h1 {
        font-size: 2.5em;
    }

    .text-overlay p {
        font-size: 1.2em;
    }
}

footer {
    background-color: #000000;
    
}

footer .inner {
    padding: 40px 0 60px 0;
}
footer .info {
    margin-top: 30px;
    text-align: center;
}
footer .copyright {
    color: #999;
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
}
footer .logo {
    display: flex;
    width: 100px;
    /* justify-content: center; */
    margin: 30px auto 0;
}
.logo {
    font-size: 24px;
    color: white;
    font-weight: bold;
}